.specialties, .calculators {
  ul {
    li {
      font-size: $font-size-subheading;
      line-height: 2;
      list-style-type:  none;
    }
  }
  .card {
    .card-block {
      .nav-link::before {
        color: $palette-pink-500;
        height: 5px;
        }
        .nav-pills {
          border-bottom: 1px solid $palette-grey-300;
          font-weight: bold;
          padding-left: 1.5rem;
          .nav-link {
            color: $black;
            margin: .25rem 0;
            &.active, &:hover {
              color: $palette-pink-500;
            }
          }
        }
        h2 {
          border-bottom: 1px solid $palette-grey-300;
          margin: 0 2.5rem;
        }
    }
  }
  .breadcrumb {
    min-height: 2.5rem;
    padding: 0;
  }
  .breadcrumb-item {
    color: $palette-blue-500;
    &:hover {
      color: $palette-pink-500;
    }
    span {
      color: $black;
    }
  }
}

.calculators {
  .nav-tabs .nav-link {
    font-weight: bold;
    padding: 1rem 1.5rem;
  }
  .card-header {
    h5 {
      a {
        color: $black;
        font-size: $font-size-bmj;
        &:hover {
          color: $palette-pink-500;
        }
      }
    }
  }
  .card {
    .card-block {
      p {
        margin: 1rem 0;
      }
        a {
          display: block;
          &.accordion-toggle {
            color: $black;
          }
      }
      h2 { // A to Z
        margin: 0;
      }
    }
  }
  .search-only .material-icons {
    position: relative;
    bottom: 40px;
    left: 14rem;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 2rem;
    color: #c50084;
    z-index: 20
  }
  .search-only .form-control {
    border: 2px solid $black-hint-solid;
    border-radius: 2px;
    height: 3rem;
    width: 17rem;; 
  }
}


@media (min-width: 576px) {
  .calculators {
    .search-only .material-icons {
      left: 23.5rem;
    }
    .search-only .form-control {
      width: 26.25rem;; 
    }
  }
}
