// Topic Pages :: Tables
///////////////////////////////////////////////
.diffDiagnosis {
    .rowHead {
        background-color: #2a6ebb;
        color: #fff;
        font-size: 1rem;
        padding: 2px;
        text-transform: uppercase;
        }
    .rowCondition {
        background-color: #ecf0f5;
        color: #2a6ebb;
        font-size: 1.125rem;
        font-weight: 700;
        padding: .725rem 1rem;
        }
    .rowDetails {
        border-bottom: 1px solid #ddd;
        p, ul {
            font-size: 1rem;
            padding: 1rem 0 0 1rem;
        }
        ul {
            list-style-type: none;
            margin: 0;
            margin-bottom: 1rem;
            li {
                &:before {
                color: $palette-pink-500;
                content: "\2022";
                padding-right: .8725rem;
                vertical-align: top;
                }
            }
        }
        span {
            color: #AEAEAE;
            display: block;
            font-size: 14px;
            font-style: italic;
            margin-bottom: 5px;         
            padding: 1rem 0 0 1rem;
        }
        .conTitle {
            background-color: #ecf0f5;
            color: #2a6ebb;
            font-weight: 700;
            font-size: 1rem;
            padding: 1rem;
        }
    }
    figure { //Images with captions
            display: table;
            padding-left: 1rem;
            width: 1px; /* This can be any width, so long as it's narrower than any image */
            }
    img {
        display: table-row;
    }
    figcaption {
        background-color: #eee;
        color: $black-primary;
        font-size: $font-size-subheading;
        padding: 16px;
        span.imgCredit {
            display: block;
            color: $black-primary;
            font-style: italic;
            font-size: $font-size-body-1;
            padding: 5px 0 0 0;
        }
    }
    h4 {
        display: inline;
        font-size: 1.125rem;
        font-weight: bold;
    }
    a, button {
        font-size: 1rem;
        &.refLink {
            color: $palette-pink-500;
            }
        &:hover {
            color: $palette-blue-500;
            }
    }
    img.cochraneInline {
        display: inline-block;
        padding: 0 .1rem;
        width: 5.5rem;
    }
}

// Styles for < 768 responsive descriptions
@media (max-width: 767px) {
    .diffDiagnosis .rowDetails {
        p, ul {
            padding: .5rem 0 0 1rem;
            }
    }
}



// Tables - All Topic Tables
.diffDiagnosis, .histExam, .diagGuidelines {
    .card-block {
        padding:0;
    }
    table {
        margin-bottom: 0;
        thead th {
            background-color: #01579b;
            color: #fff;
            font-size: 1rem;
            height: 2rem;
            padding: .5rem 0 0 1.5rem;
            text-transform: uppercase;
            width: 25%;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding: 0 0 1rem 0;
                &:before {
                color: $palette-pink-500;
                content: "\2022";
                padding-right: .8725rem;
                vertical-align: top;
                }
            }
        }
        a, button {
            font-size: 1rem;
            &.refLink {
                color: $palette-pink-500;
                }
            &:hover {
                color: $palette-blue-500;
                }
        }
        img.cochraneInline {
            display: inline-block;
            padding: 0 .1rem;
            width: 5.5rem;
        }
    }
        figure { //Images with captions
            display: table;
            width: 1px; /* This can be any width, so long as it's narrower than any image */
            }
        img {
            display: table-row;
        }
        figcaption {
            background-color: #eee;
            color: $black-primary;
            font-size: $font-size-subheading;
            padding: 16px;
            span {
                display: block;
                font-style: italic;
                font-size: $font-size-body-1;
                padding-top: 5px;
            }
        }
}

// Differential Diagnosis (assessment);
.diffDiagnosis {
    table#fourCol, table#twoCol { // Four Column & Two Column
        td, th {
            border-top: none;
        }
        tr:nth-child(even) { 
            td {
                border-bottom: 1px solid #ddd;
                font-size: $font-size-subheading;
            }
        }
        tr:nth-child(odd) { 
            background-color: #ecf0f5;
            td {
                color: #2a6ebb;
                font-size: $font-size-bmj;
                font-weight: bold;
            }
        }
        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
    table#threeCol { // Three Column
        font-size: 1rem;
        thead {
            th:first-child {
                width: 10%;
            }
            th:nth-child(2) {
                width: 45%;
            }
            th:nth-child(3) {
                width: 45%;
            }
        }
            td {
            font-size: 1rem;
            &:first-child {
                background-color: #ecf0f5;
                color: #2a6ebb;
                font-weight: bold;
            }
        }
    }
}

// History & Exam;
.histExam {
    table#oneColLeft, table#oneColRight { // One column LHS (blue) / One Column RHS (pink)
        td, th {
            border-top: none;
        }
        tr:nth-child(even) { 
            td {
                border-bottom: 1px solid #ddd;
                font-size: $font-size-subheading;
            }
        }
        tr:nth-child(odd) { 
            background-color: #ecf0f5;
            td {
                font-size: $font-size-bmj;
                font-weight: bold;
            }
        }
        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
    table#oneColRight {
        thead th {
            background-color: $palette-pink-500;
        }
        tr:nth-child(odd) { 
            background-color: $palette-pink-050;
        }
    }
}

// Diagnostic Guidelines
.diagGuidelines {
    table#oneCol { // One column 
        td, th {
            border-top: none;
        }
        td .pubDate {
            display: inline-block;
            font-weight: bold;
            line-height: 2.5;
            margin-right: 10px;
            width: 12%;
        }
        tr:nth-child(even) { 
            td {
                border-bottom: 1px solid #ddd;
                font-size: $font-size-subheading;
            }
        }
        tr:nth-child(odd) { 
            background-color: #ecf0f5;
            td {
                font-size: $font-size-bmj;
                font-weight: bold;
            }
        }
        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}

// Responsive styles for <768 using JQuery Basic Table

@media (max-width: 767px) {
    .diffDiagnosis {
        table#fourCol {
            td {
                height: auto;
                min-height: 70px;
            }
            ul {
                padding-left: 10px;
            }

        }
    } 
}