<meta charset="utf-8">
<meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
<title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>

<!-- css -->
<!-- add material font (roboto) and material icon as needed -->
<link href="{{ site.cdn.md_font }}" rel="stylesheet">
<link href="{{ site.cdn.md_icon }}" rel="stylesheet">

<!-- add material css | replace bootstrap.css -->
<link href="{{ site.url }}/css/material.min.css" rel="stylesheet">

<!-- additional css for documentation -->
<link href="https://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
<link href="{{ site.url }}/css/project.min.css" rel="stylesheet">


<!-- Javascript -->
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<!--<script type='text/javascript' src="{{ site.url }}/js/css3-mediaqueries.js"></script>  -->
 
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <link href="{{ site.url }}/css/bootstrap-ie8.css" rel="stylesheet">
    <script type='text/javascript' src="//cdn.jsdelivr.net/g/html5shiv@3.7.3,respond@1.4.2"></script>
<![endif]-->